{% extends 'base.html.twig' %}

{% block title %}Hello {{ title }}!{% endblock %}

{% block body %}
<div class="container mt-5">
      <div class="row">
          <div class="col-sm-12">

            <h1>Database page here view all resources</h1>
            <a class="btn btn-dark" href="/">Go Home</a>  

            <h1 class="mt-5">Resources currently valid</h1>
            <div class="row">
                {% for resource in resources %}
                    <div class="col-sm-12 mt-5">
                        <p>
                          The resource value is: 
                            <span class=" card w-25 bg-dark text-light">{{ resource.value }}</span> 
                          and the number is: 
                          <span class=" card  w-25 bg-dark text-light"> {{ resource.number }}</span> 
                          entry id:
                           <span class=" card  w-25 bg-dark text-light"> {{ resource.id }}</span> 
                        </p>
                        <a class="btn btn-danger" href="/delete/{{resource.id}}">delete me</a>
                         <a class="btn btn-warning" href="/toedit/{{resource.id}}">edit me</a>
                    </div>
                    
                {% endfor %}
            </div>
      </div>
    </div>
</div>

{% endblock %}
